body {
    background-color: moccasin;
}

.green {
    background-color: green;
}
.grey {
    background-color: grey;
}



th, td {
    border: 1px solid black;
    padding: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}